p {
  font-size: 16pt;
  line-height: 20px;
}
ul {
  list-style: upper-roman;
  font-family: Helvetica;
  font-style: italic;
}
ol {
  font-family: Helvetica; 
  font-style: italic;
}
h1 {
  color: dark blue;
  font-style: italic;
}
header {
  font-style: bold;
  color: dark blue;
}
body {
  font-family: Ariel;
  font-size: 20px
}
footer {
  font-style: bold;
  color: dark blue;
}
